<ion-header>
  <ion-toolbar>
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


<div id= CheckBoxes>

</div>

<div id= FirstQuestions>
  <ion-label for="Gplay">1. What level are you?</ion-label><br>
  <ion-input type="text"  placeholder="Type here" id="Gplay" name="Gplay" value=" " ></ion-input>
  <br>
  <ion-label for="Gplay2">2. How many wins do you have?</ion-label><br>
  <ion-input required type="text"  placeholder="Type here" id="Gplay2" name="Gplay2" value=" "></ion-input>
  <br>
  <ion-label for="Gplay3">3. What kind of teamates do you like?</ion-label><br>
  <ion-input type="text"  placeholder="Type here" id="Gplay3" name="Gplay3" value=" "></ion-input>
  <br>
  <ion-label for="Gplay4">4. What kind of player are you?</ion-label><br>
  <ion-input type="text"  placeholder="Type here" id="Gplay4" name="Gplay4" value=" "></ion-input>
  <br>
</div>

<div style="text-align: center;">
  <ion-button  shape="round"  fill="solid" size="large">Find Teammates</ion-button>
</div>
    
</ion-content>
