

#FirstQuestions > ion-input {
    background-color: rgb(68, 68, 68) transparent;
    --border-color: var(--ion-color-medium-shade);
    --border-radius: 3px;
    --border-width: 1px;
    --box-shadow: 2px gray;
    --highlight-height: 0;
    --background: #f8f9fa;
}
ion-label{
    font-size: large;
}
.RoundedInputs {
    --border-color: var(--ion-color-medium-shade);
    --border-radius: 3px;
    --border-width: 1px;
    --box-shadow: 2px gray;
    --highlight-height: 0;
    --background: #f8f9fa;
   }
// ion-button{
//     background-color: cornflowerblue;
// }
  