<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Matchmaking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- Card template for each user that you match up with -->
  <ion-card>
    <!-- Row includes profile and name info -->
    <ion-row>
      <!-- Profile pic-->
      <ion-col>

      </ion-col>
      <!-- Name , Username, Rating  -->
      <ion-col>
        <ion-text>David</ion-text>
        <br>
        <ion-text style="font-size: small;">Simpinator</ion-text>
        <br><br>
        <app-rating></app-rating>
      </ion-col>
      <!-- Row includes similar games text and game cards-->
    </ion-row>
    <ion-row>
      <ion-col style="width: min-content;">
        <ion-text>Similar games:</ion-text>
      </ion-col>

      <ion-col>
        <span>
        <ion-card class="similarGames"  color="primary" style="width: fit-content;">
          Apex Legends
        </ion-card>
        <ion-card  class="similarGames" color="primary" style="width: fit-content;">
          Minecraft
        </ion-card>
      </span>
      </ion-col>
    </ion-row>
   
  </ion-card>

</ion-content>
