<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Profile 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="height: 125px;">
          <ion-item style="height: 100px" color="primary">Profile pic goes here</ion-item>
        </div>
      </ion-col>
      <ion-col>

        <ion-text style="font-size: large;">
          Myles
          <app-rating></app-rating>
        </ion-text>
          <br><br>
        <ion-text color="primary">
          Fortnitebeast45
        </ion-text>
        <br><br>
        <ion-button size="small" type="submit" color="tertiary">Edit Profile</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="height: 175px;">
        <div></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    </ion-grid>

 
</ion-content>
